@import 'reset';
@import 'polyfill';
@import 'grid';
@import 'vendor_prefixes';

body {
  background-color: #f5f5f5;
  color: #000;
  cursor: default;

  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;

  line-height: 16px;
}

fieldset {
  padding: 1em;
}

hr {
  margin-top: .5em;
  margin-bottom: .5em;

  height: 1px;
  background-color: #a0a0a0;
  border: 0;
}

label {
  white-space: nowrap;
}

// Prevent text selection on web application elements
body {
  @include user-select(none);

  input,
  textarea,
  #tdcont {
    @include user-select(text);
  }
}

table {
  border-spacing: 0;

  // Because we're explicitly setting the width of the columns, we can use
  // this to save the browser some work rendering.
  table-layout: fixed;
}

#modalbg {width: 100%; height: 100%; left: 0; top: 0; position: absolute; z-index: 500; display: none; opacity: .5; background-color: #ccc;}

.aright {text-align: right;}
.dlg-window {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fafafa;
  border: 2px solid #909090;
  display: none;
  overflow: hidden;

  > .dlg-header {
    padding: 2px 24px;
    line-height: 20px;
    background-color: #f0f0f0;

    // Each of these have a background image added
    background-position: 4px center;
    background-repeat: no-repeat;

    font-weight: bold;
    border-bottom: 1px solid #909090;
  }
}
.fxcaret {overflow: auto;}
.dlg-close:link, a.dlg-close:visited {width: 14px; height: 14px; margin: 5px; background: transparent url('../images/close.png') no-repeat scroll left center; float: right; border: 0;}
.dlg-close:hover {width: 14px; height: 14px; background: transparent url('../images/close.png') no-repeat scroll -14px center; float: right; border: 0;}
.dlg-close:active {width: 14px; height: 14px; background: transparent url('../images/close.pn'g) no-repeat scroll -28px center; float: right; border: 0;}

#sc {width: 150px; right: 57px; top: 40px; position: absolute; display: none; border: 1px solid #808080; background-color: #e0e0e0; z-index: 100;}
#sc ul {
  list-style: none;
}
#sc li div {line-height: 14px; padding: 4px; font-weight: bold;}
#sc li.se_act div {background-color: #808080; color: #fff}
.CMenu {
  left: 0;
  top: 0;
  display: none;

  border: 1px solid #a0a0a0;
  background: #f0f0f0;

  text-decoration: none;
  padding: 2px 0 0 2px;
  list-style-type: none;
  z-index: 1000;

  li {display: block; margin-right: 1px; position: relative; width: 150px; background: #fff}
  li a {display: block}
  li a.dis {color: #c0c0c0;}
  li a.dis:hover {background-color: #fff; color: #c0c0c0;}
  li a {line-height: 16px; padding: 3px 4px 3px 16px;}
  li hr {width: 90%; border-top: 1px solid #d0d0d0; height: 0; margin-top: 2px; margin-bottom: 2px; }
  li a.exp {background: transparent url('../images/menuexp.gif') no-repeat scroll 140px center; }
  li a.sel {background: transparent url('../images/menusel.gif') no-repeat scroll 4px center;}
  li a:hover {background-color: #CFDEEF; color: #000;}

  li:hover ul {display: block; position: absolute; top: 0; left: 146px; width: 150px;}
  li:hover ul li ul {display: none;}
  li:hover ul li a {display: block; background-color: #fff; color: #000;}
  li:hover ul li a:hover {background-color: #CFDEEF; color: #000;}
  li:hover ul.left {left: -150px;}
  li ul li a.dis {color: #c0c0c0;}
  li ul li a.dis:hover {background-color: #fff; color: #c0c0c0;}
}

span.htkey {text-align: right; position: absolute; right: 16px; z-index: 100;}
#sel {width: 0; height: 0; position: absolute; left: 0; top: 0; border: 1px dotted #000; display: none; z-index: 1000;}

// Ensure we always fill the entire window height
body {
  height: 100vh;
  width: 100vw;
}

header {
  height: 36px;
  background: #f0f0f0 url('../images/t_bg.png') repeat-x center center;
  line-height: 36px;
  white-space: nowrap;

  a {float: left; margin: 3px 0 0 5px; padding: 3px;}
  a:hover {background: transparent url('../images/tb_bg.gif') no-repeat scroll center center;}
  a:active {padding: 4px 2px 2px 4px;}
  div {width: 24px; height: 24px; float: left; cursor: pointer;}
  .TB_Separator {width: 1px; height: 22px; margin: 7px 0 0 5px; border: 0; background-color: #a0a0a0;}

  #add {background: transparent url('../images/toolbar.png') no-repeat -24px center;}
  #create {background: transparent url('../images/toolbar.png') no-repeat -48px center;}
  #remove {background: transparent url('../images/toolbar.png') no-repeat -72px center;}
  #start {background: transparent url('../images/toolbar.png') no-repeat -96px center;}
  #pause {background: transparent url('../images/toolbar.png') no-repeat -120px center;}
  #stop {background: transparent url('../images/toolbar.png') no-repeat -144px center;}
  #moveu {background: transparent url('../images/toolbar.png') no-repeat -168px center;}
  #moved {background: transparent url('../images/toolbar.png') no-repeat -192px center;}
  #search {background: transparent url('../images/toolbar.png') no-repeat -216px center;}
  #rss {background: transparent url('../images/toolbar.png') no-repeat -240px center;}
  #setting {background: transparent url('../images/toolbar.png') no-repeat -264px center;}

  #help {background: transparent url('../images/quest.gif') no-repeat 0 center;}
  #plugins {background: transparent url('../images/plugin.png') no-repeat 0 center;}

  #ind {margin-top: 2px; background: transparent url('../images/ajax-loader.gif') no-repeat 0 center; width: 32px; margin-right: 2px; line-height: 26px; cursor: default; }
}

aside {
  overflow: hidden;

  // default size is 12%
  width: 12%;
}
#rc { float: right; }
#go {background: transparent url('../images/go.gif') no-repeat 0 center; }
#query { margin-top: 4px; }
header a#mnu_go {
  margin-top: 3px;
  padding: 3px;
}

input.Textbox, input.Button, select {border: 1px solid #b0b0b0; padding: 2px;}
input.TextboxShort {border: 1px solid #b0b0b0; padding: 2px; width: 50px;}
input.TextboxMid {border: 1px solid #b0b0b0; padding: 2px; width: 110px;}
input.TextboxLarge {border: 1px solid #b0b0b0; padding: 2px; width: 220px;}
input.TextboxVShort {border: 1px solid #b0b0b0; padding: 2px; width: 30px;}
input.Button {padding: 1px 10px; background: #f0f0f0 url('../images/h.gif') repeat-x center bottom; width: 80px; height: 19px; border: 1px solid #a0a0a0; cursor: pointer; }

select {
  margin-top: 5px;
}
a {
  color: #686868;
}

#CatList {border-right: 1px solid #a0a0a0; background-color: #fff;}
#CatList ul {list-style: none; white-space: nowrap;}
#CatList ul li {padding: 2px 25px; line-height: 14px; cursor: pointer; border: 1px solid #fff; background-repeat: no-repeat;}
#CatList ul li.sel {background-color: #CFDEEF; border-color: #CFDEEF;}
#-_-_-all-_-_-, #-_-_-dls-_-_-, #-_-_-com-_-_-, #-_-_-act-_-_-, #-_-_-iac-_-_-, #-_-_-err-_-_- {background-image: url('../images/tstatus.png');}
#-_-_-all-_-_- {background-position: 4px -174px;}
#-_-_-dls-_-_- {background-position: 4px 2px;}
#-_-_-com-_-_- {background-position: 4px -14px;}
#-_-_-act-_-_- {background-position: 4px -158px;}
#-_-_-iac-_-_- {background-position: 4px -30px;}
#-_-_-err-_-_- {background-position: 4px -94px;}
#CatList ul li.RSS {background-image: url('../images/tstatus.png'); background-position: 4px -206px;}
#CatList ul li.disRSS {background-image: url('../images/tstatus.png'); background-position: 4px -190px;}

.stable-icon {background-image: url('../images/tstatus.png'); background-repeat: no-repeat;}
.Status_Down {background-position: 0 0;}
.Status_Up {background-position: 0 -16px;}
.Status_Incompleted {background-position: 0 -32px;}
.Status_Paused {background-position: 0 -48px;}
.Status_Error_Down {background-position: 0 -64px;}
.Status_Error_Up {background-position: 0 -80px;}
.Status_Error {background-position: 0 -96px;}
.Status_Completed {background-position: 0 -112px;}
.Status_Queued_Down {background-position: 0 -128px;}
.Status_Queued_Up {background-position: 0 -144px;}
.Status_Up_Down {background-position: 0 -160px;}
.Status_Checking {background-position: 0 -176px;}
.Status_RSS {background-position: 0 -208px;}

#HDivider {
  cursor: e-resize;
  width: 5px;
}
#VDivider {
  cursor: n-resize;
  height: 5px;
}
#dividerDrag {
  background: #a0a0a0;
  display: none;
  position: absolute;
}

#stg {
  width: 600px;
  height: 460px;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;

  // Many plugins still use tables to lay out their settings boxes
  // we need to ensure we give them the same table behavior they expect
  table {
    table-layout: auto;
  }
}
#stg_c {overflow: hidden;}
#stg-header { background-image: url('../images/settings.gif'); }

#stg .lm {
  float: left;
  width: 120px;
  height: 100%;
  padding: 5px;
  position: relative;
  background-color: #fff;
  border-right: 1px solid #d0d0d0;
  overflow: auto;
}
.op100l {width: 400px; float: left;}
.op50l {width: 200px; float: left; clear: left;}
.algnright {text-align: right; clear: right;}

.lm ul {width: 100%; list-style-position: inside; list-style: none;}
.lm li {margin: 0 5px; padding: 0 12px; line-height: 16px !important; background: transparent url('../images/bul.gif') no-repeat scroll left center;}
.lm ul.child {margin: 0 0 0 5px; display: none;}
.lm ul.child li {margin: 0 0 0 9px;}
.lm li.first {background: transparent url('../images/bul_f.gif') no-repeat scroll left bottom}
.lm li.last {background: transparent url('../images/bul_l.gif') no-repeat scroll left top}
.lm li .toggle {width: 10px; height: 10px; background: transparent url('../images/exp.gif') no-repeat scroll center center; float: left; margin: 3px 0 0 -16px; cursor: pointer;}
.lm li a {color: #000; padding: 1px 2px;}
.lm li a.focus {background-color: #e0e0e0;}
.stg_con {float: right; position: relative; height: 400px; margin: 4px; background-color: #fafafa;}
fieldset {margin: 4px;}
* > fieldset {border: 1px solid #d0d0d0; border-radius: 6px;}
.stg_con table {width: 100%;}
.stg_con td {font-weight: normal; height: 19px;}
.stg_con td.alr {text-align: right;}
.stg_con td input {margin: 0 4px; font-size: 11px; padding: 1px 4px;}
.stg_con select {margin: 1px 4px; font-size: 11px; padding: 1px 4px;}
input.num {text-align: right; width: 50px;}
input.str {text-align: left; width: 130px;}
td label, div label {cursor: pointer;}
input[disabled] {
  background-color: #fafafa;
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
}
td.disabled, label.disabled, span.disabled, .disabled {color: #c0c0c0; cursor: default;}
fieldset div {padding: 2px;}
div input, div select {margin: 0 4px; font-size: 11px; padding: 1px 4px;}
legend {color: #000; font-weight: bold;}
.indent {padding-left: 16px;}
#st_gl {display: block}
#st_dl, #st_con, #st_bt, #st_que, #st_sch, #st_ao, #st_dc {display: none;}
#st_btns {float: right; position: relative; width: 450px; height: 20px; padding: 3px; text-align: right; }
#st_btns input {margin-left: 5px;}
a {text-decoration: none;}
#st_ao_h {width: 420px; height: 270px; overflow: auto; }
#st_ao_h table {width: 400px;}
select.cols {border: 1px solid #808080; padding: 2px; width: 120px;}
#dragmask {width: 10px; height: 10px; left: 0; top: 0; position: absolute; z-index: 5000; display: none; border: 1px dotted #a0a0a0;}
#tdetails {padding: 0 5px 0 0; background-color: #f5f5f5;}

// Make sure the details divs inherit the height from their parent so overflow: scroll can do it's job
#tdcont {
  height: 100%;

  > * {
    height: 100%;
  }
}

#tdcont {
  background: #fff;
  border: 1px solid #d0d0d0;
  overflow: hidden;
}

.tab { height: 100%; background: #f5f5f5; overflow: auto; }
#lcont {line-height: 11px; background: #fff}
#lcont .mono {font-size: 11px; font-family: monospace; line-height: 11px; background: #f5f5f5; white-space: pre;}
#lcont .std {padding: 2px;}

#gcont table td.Header {font-weight: bold; background: #fcfcfc;}

.graph_tab {background-color: #fff; overflow: hidden; display: block;}
.graph_tab {line-height: 11px; color: #545454;}

#List {
  border: 1px solid #a0a0a0;

  // The percentage completion in the #List table has a z-index of 1
  // so we need to make sure the table header is above that
  .stable-head {
    z-index: 2;
  }
}
.cont {padding: 6px;}

.tabbar {height: 18px; list-style-type: none; text-align: left;}
.tabbar li {display: inline; white-space: nowrap;}
.tabbar li a {position: relative; top: 3px; text-decoration: none; border: 1px solid #d0d0d0; border-bottom: 0; margin: -5px 1px 0 1px; padding: 1px 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; vertical-align: top; cursor: pointer;}
.tabbar li a:hover {border-top: 2px solid #ffc73c;}
.tabbar li.selected a {margin-right: -2px; padding: 1px 7px 4px 7px; position: relative; top: 2px; vertical-align: top; border-top: 2px solid #ffc73c; background: #fff; color: #000;}
#dlgLabel {width: 250px; height: 140px;}
#dlgLabel .dlg-header {background-image: url('../images/label.gif');}
#dlgLabel .content {width: 230px; margin: 5px; padding: 5px; line-height: 16px;}
#dlgLabel .content input {margin-top: 5px;}
#txtLabel {width: 200px;}
#padd {width: 250px; height: 120px;}
#padd .dlg-header {background-image: url('../images/props.gif');}
#padd .content {width: 230px; margin: 5px; padding: 5px; line-height: 16px;}
#padd .content input {margin-top: 5px;}
#peerIP {width: 200px;}
#dlgHelp .dlg-header {background-image: url('../images/about.gif');}
#dlgHelp .content {width: 230px; margin: 5px; padding: 5px;}

#dlgProps {width: 395px; height: 215px;}
#dlgProps .dlg-header {background-image: url('../images/props.gif');}
#dlgProps .content {width: 380px; margin-left: 5px; }
#dlgProps textarea#prop-trackers {width: 100%; height: 70px; background: #fff; border: 1px solid #d0d0d0;}
#dlgProps fieldset {margin-bottom: 5px; }
#dlgProps fieldset div {line-height: 16px; }
#dlgProps fieldset .props-spacer {width: 90%; float: left;}
#prop-tracker_numwant {width: 60px; float: right;}
#prop-ulslots {width: 60px; float: right;}
#prop-peers_min {width: 60px; float: right;}
#prop-peers_max {width: 60px; float: right;}
#prop-seed_ratio {width: 40px;}

#yesnoDlg {width: 280px; height: 100px;}
#yesnoDlg .dlg-header {background-image: url('../images/error.gif');}
#yesnoDlg .content {width: 260px; margin: 5px; padding: 5px; line-height: 16px;}
#yesnoDlg .content input {margin-top: 5px;}

.Icon_File {background: transparent url('../images/file.gif') no-repeat left center;}
.Icon_Dir {background: transparent url('../images/dir.gif') no-repeat left center;}
.Icon_Share {background: transparent url('../images/share.gif') no-repeat left center;}

#HDivider:hover, #VDivider:hover { background: #a0a0a0; }
textarea { overflow: auto; }

.catpanel { background: url('../images/pnl_open.gif') 2px no-repeat; background-color: #f0f0f0; border-bottom: 1px solid #a0a0a0; border-top: 1px solid #a0a0a0; padding: 2px 21px; line-height: 16px; cursor: pointer; }

#tadd-header {background-image: url('../images/world.gif');}
#tadd {display: none; left: 100px; top: 100px; position: absolute; margin: 0 auto; }
#tadd label {text-align: right; width: 75px; padding-right: 20px; float: left; }
#tadd br {clear: left; line-height: 0;}
#tadd input {margin-bottom: 1px;}
#tadd select { width: 220px; }

#StatusBar {
  border-top: 1px solid #a0a0a0;
  background-color: #fff;
  height: 24px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;

  table {
    line-height: 24px;
  }
}
#st_up { background: url('../images/status_up.gif') 6px no-repeat; }
#st_down { background: url('../images/status_down.gif') 6px no-repeat; }
#st_up td:first-child .sthdr { margin-left: 25px; }
#st_down td:first-child .sthdr { margin-left: 25px; }
.statuscell {height: 20px; line-height: 20px; border-right: 1px solid #a0a0a0;}
.sthdr { font-weight: bold; padding-right: 3px; text-align: right; }
.stval { padding-right: 3px; overflow: hidden; width: 65px; }
.speedEdit { width: 320px; }
#st_system .sthdr { padding-left: 8px; }

.buttons-list {
  margin-bottom: 5px;
}

#bf {
  white-space: pre;
}

@media only screen and (orientation:portrait) {
  #go {
    display: none;
  }
  #query {
    width: 80px;
  }
}
