# SCSS compilation
.sass-cache/
css/*.css
css/*.css.map
plugins/theme/themes/*/*.css
plugins/theme/themes/*/*.css.map

# Composer (PHP modules)
vendor/
plugins/*/vendor/

# Node (JS modules)
node_modules/
plugins/*/node_modules/

# Compression
*.gz
*.br


# ruTorrent
conf/users/*
share/users/*
share/torrents/*
share/settings/*
plugins/xirvik
.htpasswd
plugins/shoutbox
plugins/backup
plugins/news
plugins/_xgetdir
plugins/spectrogram
plugins/xcreate
plugins/explorer
plugins/multirpc
plugins/ratiomet
plugins/xversion
plugins/upload_check
plugins/trafic_check
plugins/tracklimits
plugins/starter
plugins/rssbackup
plugins/quotaspace
plugins/firewall
plugins/choke
plugins/bandwidth
plugins/plimits
plugins/localnews
plugins/hints
plugins/dmca
